@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

*{
    box-sizing:border-box
}
body{
    font-family: Roboto;
}

a{
    display: inline-block;
    color: #000;
    text-decoration: none;
}

img{
    width: 100%;
}

#global-header{
    display: flex;
    flex-direction: column;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 9px #000;
        padding: 1rem;
    }
}

#hero{
    min-height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    background-color: #f6f6f6;
}

.highlight{
    padding: 1rem;
    figure{
        margin: 0;
    }
}

#services{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    h2{
        width: 100%;
    }

    .service-card{
        width: 100%;
      
        i{
            width: 50px;
            height: 50px;
            padding: 0.5rem;
            border-radius: 100%;
            border: 1px solid #000;
            align-items: center;
            justify-items: center;
        }
    }
}

.btn{
    background-color: #000;
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
}

.hidden{
    display: none;
}

.icon-btn{
    background-color: transparent;
    border: none;

    i{
        font-size: 18px;
    }
}

/* --- RESPONSIV DESIGN: SKJERMER UNDER 600px --- */
@media only screen and (max-width:600px){
    
    /* Menyen vises som "overlay" øverst på hele skjermen */
    #menu {
        background-color: antiquewhite; /* Egen bakgrunn */
        position: absolute;             /* Plasseres over annet innhold */
        width: 100%;                    /* Full bredde */
        top: 0;                         /* Starter helt øverst */
        left: 0;                        /* Starter helt til venstre */
        padding: 2rem;                  /* Luft rundt innholdet */
      }

}

/* --- RESPONSIV DESIGN: SKJERMER OVER 600px --- */
@media only screen and (min-width:600px){

    /* Header får flex for å plassere innholdet på hver side */
    header{
        display: flex;
        justify-content: space-between; /* Plasserer elementene venstre/høyre */
    }

    /* Når skjermen er bred nok, skal .hidden-elementer vises igjen */
    .hidden{
        display: inline-block;
    }

    /* Menyen tilpasset desktop: liste horisontalt */
    #menu{
        ul{
            display: flex; /* Viser menyvalg på linje */
            gap: 1rem;     /* Avstand mellom menyvalg */
        }
    }

    /* Hamburger-knappen skjules på større skjermer */
    #ham{
        display: none;
    }

    #close{
        display: none;
    }
}
